// Font
// TODO: Add font

// Variables

// Colours
$color-gray-dark: hsl(0, 0%, 17%);
$color-gray: hsl(0, 0%, 59%);
$color-white: #fff;

// Font Size
$font-size: 18px;

// Global Styles
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: $font-size;
  color: $color-gray-dark;
  background: $color-white;
}
