// Font Weight
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Font
@font-face {
  font-family: 'Rubik';
  src: url(../fonts/rubik/Rubik-Regular.ttf);
  font-weight: $font-weight-regular;
}
@font-face {
  font-family: 'Rubik';
  src: url(../fonts/rubik/Rubik-Medium.ttf);
  font-weight: $font-weight-medium;
}
@font-face {
  font-family: 'Rubik';
  src: url(../fonts/rubik/Rubik-Bold.ttf);
  font-weight: $font-weight-bold;
}

// Font Family
$font-family: 'Rubik', sans-serif;

// Colours
$color-gray-dark: hsl(0, 0%, 17%);
$color-gray: hsl(0, 0%, 59%);
$color-white: #fff;

// Font Size
$font-size-1: 23px;
$font-size-2: 18px;
$font-size-3: 12px;

// Global Styles
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  color: $color-gray-dark;
  background: $color-white;
}
