.map {
  overflow: hidden;

  .leaflet-container {
    width: 100vw;
    height: 60vh;
    z-index: 1;
  }
}

@media only screen and (min-height: 640px) {
  .map {
    .leaflet-container {
      height: 90vh;
    }
  }
}